@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Oswald:wght@200..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */

  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;
  background-color: #f1f5f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sansita {
  font-family: 'Sansita Swashed', cursive;
}

.sansita {
  font-family: "Oswald", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
}

#border {
  border-color: #dadde7;
  border-style: solid;
}

html {
  font-size: 90%;
}

i,
button,
img {
  user-select: none;
}

@media (max-width:1400px) {
  html {
    font-size: 80%;
  }
}


@media print {
  body {
    -webkit-print-color-adjust: exact;
  }

  /* .bg-main-hover {
    background-color: #5d5fefcb !important;
  }

  .text-main-gray-text {
    color: #5a5d66 !important;
  }

  .border-main-gray-border {
    border-color: #dadde7 !important;
  }

  .border-main-gray-border2 {
    border-color: #E8EBF4 !important;
  } */
}